includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests\Helpers\*
        - tests\resources\*
    ignoreErrors:
        -
            message: '#Generator expects value type Illuminate\\Database\\Eloquent\\Collection#'
            path: src/Console/Commands/RefreshAttachmentCommand.php
